@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
body, html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans', arial, sans-serif;
    font-weight: 400;
    display: block;
    background-color: white;
    overflow: hidden;
  }
  /* sidebar */
#avatar{
    margin: 0px 0px 50px 0px;
    width: 100px;
    overflow: hidden;
    min-width: 100px;
    min-height: 100px;
}
#navlist{
    width: 100%;
    list-style: none;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-left: 20%;
    overflow: hidden;
}
.sideitem, .sideitem a {
    margin-bottom: 20px;
    text-decoration: none;
    color: #FF8C00;
    text-transform: uppercase;
}

.sideitem a{
    border: .2px solid #ced4da;
    border-radius: 4px;
    padding: 5px;
}
.sideitem a:hover{
    color: aqua;
}
.sideitem a:active{
    color: red;
}

#sidenav{
    height: 100%;
    width: 10%;
    background: #34495e;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    min-width: 180px;
}

/* main content */

#content{
    margin: 0em 1em 0em 15em;
    
}
#container1, #container2, #container3, #container5{
    height: 100vh;
    width: 100%;
    margin: .5em 0px .5em 0;
    padding: 19em 0 10em 0;
    min-width: 100%;
}
#container4 {
    height: 100vh;
    width: 100%;
    margin: .5em 0px .5em 0;
    padding: 10em 0 10em 0;
    min-width: 100%;
}

#container1 h1{
    font-family: "Saira Extra Condensed";
    font-size: 90px;
    text-transform: uppercase;
    color: #343a40;
    margin: auto 0px;
    line-height: .85em;
}
#container1 h1 span:first-of-type{
    color: #bd5d38;
}

#container1 p:first-of-type{
    margin: 0;
    font-family: Muli;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #6C757D;
    letter-spacing: 0;
}
p span a{
    text-decoration: none;
    color: #bd5d38;
    font-weight: bold;
}
#socialcontainer{
    margin-top: 50px;
}
.social{
    text-decoration: none;
    margin-top: 20px;
    margin-right: 50px;
}
.socialsvg{
    width: 60px;
    height: 60px;
    color: black;
}
.socialsvg:hover{
    color: #bd5d38;
}
#container2 h2 {
    font-family: "Saira Extra Condensed";
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 0;
}
#container2 h3 {
    font-family: "Saira Extra Condensed";
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 7px;
}
#container2 h4 {
    font-family: Muli;
    color: #6C757D;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 3px;
}
#container2 p{
    color: #6C757D;
}

#container2 span {
    float: right;
    font-size: 20px;
}

#container3 h2 {
    font-family: "Saira Extra Condensed";
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 15px;
}
#container3 h3 {
    font-family: "Saira Extra Condensed";
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 7px;
}
#container3 span {
    float: right;
    font-size: 20px;
    }
#container3 ul{
    list-style: none;
    font-family: Muli;
    color: #6C757D;
    line-height: 2rem;
}
#container4 h2 {
    font-family: "Saira Extra Condensed";
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0px;
}
#container4 h3 {
    font-family: "Saira Extra Condensed";
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#container4 ul{
    list-style: none;
    font-family: Muli;
    color: #6C757D;
    line-height: 2rem;
}
#container5 h2 {
    font-family: "Saira Extra Condensed";
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0px;
}
#container5 ul{
    list-style: none;
    font-family: Muli;
    color: #6C757D;
    line-height: 2rem;
}

/* hide sidebar and wrap on low resolution */

@media only screen and (max-width: 1500px) and (min-width: 700px){
    #sidebar, #sidenav {
        width: 180px;
        min-width: 180px;
    }

    #content{
        margin-left:15rem;
        width: 75%;
    }

    .container {
        padding: 14em 0 10em 0;
        box-sizing: content-box;
    }
  }