
body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans', arial, sans-serif;
    font-weight: 400;
    background-image: url("resources/contact.png");
    background-size: cover;
  }
  
  #header{
      text-align: center;
  }

form{
    border: .5px solid #ced4da;
    border-radius: 1em;
    margin:0 auto;
    padding: 5px 50px;
    width: 30%;
    background-color: white;
}
form p {
    font-size: 20px;
    text-align: center;
}
#buttons {
    text-align:center
}
.formitem{
    padding: 4px;
    border-radius: 3px;
    border: .5px solid #ced4da;
    width: 100%;
    line-height: 1.5;
    margin-top: 4px;
    font-size: 1rem;
}

#buttons #submit{
    display: block;
    font-weight: 400;
    color: white;
    width: 100%;
    background-color: green;
    text-align: center;
    border: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
#buttons #reset{
    display: block;
    font-weight: 400;
    color: white;
    width: 100%;
    background-color: red;
    text-align: center;
    border: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}