@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
  
  .slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
  }
  
  .slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 100%;
    background-color: #1f1f1f;
    -webkit-animation: slide 12s infinite;
    -moz-animation: slide 12s infinite;
    -o-animation: slide 12s infinite;
    animation: slide 12s infinite;
    overflow: hidden;
  
  }
  
  .slide:nth-child(1) {
    left: 0%;
    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
    -o-animation-delay: -1s;
    animation-delay: -1s;
     background-image: url(https://cdn.discordapp.com/attachments/754677722403569674/757734146935095316/photo-1524231757912-21f4fe3a7200.jfif);
    background-size: cover;
    background-position: bottom;
  }
  
  .slide:nth-child(2) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    background-image: url(https://cdn.discordapp.com/attachments/754677722403569674/757734145492385802/photo-1502602898657-3e91760cbb34.jfif);
    background-size: cover;
    background-position: bottom;
  }
  
  .slide:nth-child(3) {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
    background-image: url(https://cdn.discordapp.com/attachments/754677722403569674/757734141163864094/photo-1520175480921-4edfa2983e0f.jfif);
    background-size: cover;
    background-position: bottom;
  }
  .slide:nth-child(4) {
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    -o-animation-delay: 7s;
    animation-delay: 7s;
    background-image: url(https://cdn.discordapp.com/attachments/754677722403569674/757734134335537282/photo-1514038047819-af3435565412.jfif);
    background-size: cover;
    background-position: bottom;
  }
  .slide:nth-child(5) {
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    animation-delay: 9s;
    background-image: url(https://cdn.discordapp.com/attachments/754677722403569674/757736262676250674/photo-1530122037265-a5f1f91d3b99.jfif);
    background-size: cover;
    background-position: bottom;
  }
  .slide:nth-child(6) {
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    animation-delay: 9s;
    background-image: url(https://cdn.discordapp.com/attachments/754677722403569674/757736262676250674/photo-1530122037265-a5f1f91d3b99.jfif);
    background-size: cover;
    background-position: bottom;
  }
  .slide:nth-child(7) {
    -webkit-animation-delay: 11s;
    -moz-animation-delay: 11s;
    -o-animation-delay: 11s;
    animation-delay: 11s;
  }
  
  
  .slide p {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 20vh;
    margin: 0% auto;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 500px black;
  }
  
  @-webkit-keyframes slide {
    0% {left: 100%; width: 100%} 
    5% {left: 0%;} /* IN */
    25% {left: 0%;} /*SHOW*/
    30% {left: -100%; width: 100%;} /*OUT*/
    30.00001% {left: -100%; width: 0%}
    100% {left: 100%;width: 0%;} /*SLEEP*/
  }
  
  @-moz-keyframes slide {
    0% {left: 100%; width: 100%} 
    5% {left: 0%;} /* IN */
    25% {left: 0%;} /*SHOW*/
    30% {left: -100%; width: 100%;} /*OUT*/
    30.00001% {left: -100%; width: 0%}
    100% {left: 100%;width: 0%;} /*SLEEP*/
  }
  
  @-o-keyframes slide {
    0% {left: 100%; width: 100%} 
    5% {left: 0%;} /* IN */
    25% {left: 0%;} /*SHOW*/
    30% {left: -100%; width: 100%;} /*OUT*/
    30.00001% {left: -100%; width: 0%}
    100% {left: 100%;width: 0%;} /*SLEEP*/
  }
  
  @keyframes slide {
    0% {left: 100%; width: 100%} 
    5% {left: 0%;} /* IN */
    25% {left: 0%;} /*SHOW*/
    30% {left: -100%; width: 100%;} /*OUT*/
    30.00001% {left: -100%; width: 0%}
    100% {left: 100%;width: 0%;} /*SLEEP*/
  }