body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

img{
    position: absolute;
    width: 100vw;
    height: 100vh;
}
#fade{
    animation-name: fadeIn;
    animation-duration: .1s;
    animation-delay: 5s;
    z-index: 100;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    from {
      opacity: 1;
    }
    
    to {
      opacity: 0;
    }
  }