body, html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans', arial, sans-serif;
    font-weight: 400;
    background-image: url("resources/movies.png");
    background-size: cover;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
#previewcontainer{
    display: flex;
    justify-content: center;
  }
#preview{
    height: 650px;
    width: 450px;
    overflow: hidden;
}
#preview img{
    height: 650px;
    width: 450px;
    overflow: hidden;
}
  #slider{
    width: 100%;
  }

  #sliderlist{
      list-style:none;
      width: 96%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  .sliderimage{
      width: 150px;
      height: 220px;
      padding: 4px 8px;
      float: left;
  }
  #clickto{
      color: white;
      font-size: 1.4rem;
      border: 1px solid black;
      background: orange;
      padding: 2px;
      border-radius: 4px;
  }