@import url(https://fonts.googleapis.com/css?family=Lato:300,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
@import url(https://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
::-webkit-scrollbar{
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

body, html, iframe{
  height: 100%;
  background-color: #4A5459;
}

/* header */

#header {
  position: relative;
  width: calc(100% - 50px);
  left: 50px;
  right: 0px;
  height: 100%;
}

/* navbar */
#navcontainer{
  width: 100%;
  margin: 0px 50px 0px 0px;
  padding: 20px 0;
  position: sticky;
  overflow: hidden;
  top: 0;
  background: rgba(0, 0, 0, 0.88);
  margin-top: -5px;
}
.navigation { 
  display: table;
  margin: 0 auto;

}
#navbar, #navbar a{
  font-family: lato;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  color: #337AB7;
}
.navbaritem{
  display: inline;
  margin-right: 15px;
}

#navbar:hover > li a{
  opacity: 0.4;
  
}
#navbar > li:hover a{
  opacity: 1;
  color: rgba(163, 218, 255, 0.9);
}

/* sidebar */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: #222;
  color: #fff;
  overflow: hidden;
  z-index: 100;
}
#sidebar:hover{
  width: 170px;
}

#sidebar:hover #sidenav ul li a {
  opacity: 1;
  left: 0;
}
#sidebar a{
  text-decoration:none;
  color: white;
}
#sidebar span, li{
  padding: 10px;
}
#sidebar #sidenav ul li {

  min-height: 50px;
  position: relative;
  border-bottom: 1px solid #333;
  list-style: none;
}
#sidebar #sidenav ul li.logo {
  margin-bottom: 50px;
}
#sidebar #sidenav ul li.logo a {
  text-transform: uppercase;
  font-weight: 800;
}

#sidebar #sidenav ul li.logo + li {
  border-top: 1px solid #333;
}
.logox{
  fill: #ea4c89;
  width: 50px;
  margin-left: -9px;
  margin-top: -13px;
}
.logox:hover{
  fill: orange;
}
#sidebar #sidenav ul li a {
  display: block;
  padding-left: 50px;
  position: relative;
  left: 15px;
  opacity: 0;
  cursor: pointer;
  font-weight: 300;
}
#sidebar #sidenav ul li span {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  text-align: center;
}
#sidebar #sidenav ul li span:before {
  font-size: 1.25em;

}
#sidebar #sidenav ul li:hover {
  background-color: #111;
}
#sidebar #sidenav ul li:hover span:before {
  color: #ea4c89;
}

#rightsidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  background-color: #222;
  color: #fff;
  overflow: hidden;
  z-index: 100;
  display:flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
#rightsidebar:hover{
  width: 173px;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#rightsidebar:hover li{
  width: 173px;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 20px 40px 20px;
  border-bottom: 1px solid red;
  border-top:1px solid red;
}
.spanrightsidebar {
  opacity: 1;
  text-orientation: sideways-right;
  writing-mode: vertical-rl;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid red;
}
#rightsidebar:hover .spanrightsidebar{
  opacity:1;
  text-orientation: sideways-right;
  writing-mode: initial;
  align-content: center;
  margin-top: 50px;
  padding-bottom: 0px;
  border-bottom: 0px solid red;
}
/* content */
#pagecontent {
  margin-left: 170px;
  height: 100%;
  display: block;

}
/* iframe */
#iframe_parent {
    width: 95%;
    height: 95%;

}

#iframe_child {
  width: 103%;
  height: 100%;
  margin: 10px auto;
  
}
#iframex {
    width: 90%;
    height: 90%;
    min-height: 100%;
    margin: 25px auto;
    border-radius: 10px;
    }

    footer {
      position: relative;
      display: block;
      text-align:center;
      width: 100%;
      bottom: 0%;
      left: 0%;
      height: 70px;
      clear: both;
      margin-top: 60px;
      background-color: #222;
      padding: 15px;
    }