body, html, .grid {
    width: 98.7%;
    height: 95%;
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans', arial, sans-serif;
    font-weight: 400;
    background-image: url("resources/movies.png");
    background-size: cover;
  }

  .container{
      display: grid;
      grid-template-columns: repeat(5, 1fr) ;
      grid-template-rows: 50% 50% ;
      grid-gap: 1rem;
      grid-template-areas:
          "content-1 content-2  content-3  content-4 content-5"
          "content-6 content-7 content-8 content-9 content-10 ";
  }

  header, h1{
    text-align: center;
    padding-top: 5px;
    display: block;
    margin: 0;
    color: white;
}

  .content-1 {
    grid-area: content-1;
    width: 100%;
    height: 100%;
    background-image: url("resources/shawshank.jpg");
    background-size: cover;
  }
  
  .content-2 {
    grid-area: content-2;
    width: 100%;
    background-image: url("resources/starwars.jpg");
    background-size: cover;
  }
  
  .content-3 {
    grid-area: content-3;
    width: 100%;
    background-image: url("resources/twinpeaks.jpg");
    background-size: cover;
  }
  
  .content-4 {
    grid-area: content-4;
    width: 100%;
    background-image: url("resources/dark.jpg");
    background-size: cover;
  }
  
  .content-5 {
    grid-area: content-5;
    width: 100%;
    background-image: url("resources/pulpfiction.jpg");
    background-size: cover;
  }
  .content-6{
      grid-area: content-6;
      width: 100%;
      background-image: url("resources/bladerunner.jpg");
      background-size: cover;
  }
  
  .content-7{
      grid-area: content-7;
      width: 100%;
      background-image: url("resources/batman.jpg");
      background-size: cover;
  }
  .content-8{
      grid-area: content-8;
      width: 100%;
      background-image: url("resources/westworld.jpg");
      background-size: cover;
  }
  .content-9{
      grid-area: content-9;
      width: 100%;
      background-image: url("resources/mask.jpg");
      background-size: cover;
  }
  .content-10{
      grid-area: content-10;
      width: 100%;
      background-image: url("resources/gotham.jpg");
      background-size: cover;
  }

  img{
    max-width: 100%;
     height: auto;
  }

  .grid {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .item {
    color: #ffffff;
    border-radius: 4px;
    border: .5px solid #171717;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
  }
  .item p {
    font-size: 30px;
    background-color: rgba(00, 00, 00, .2);
    background-size: auto;
    float: left;
    text-align: left;
  }
  .item:hover{
    transform: scale(1.4);
  }